/* General styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(54, 162, 178); 
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto; 
}

header {
    background-color: rgb(54, 162, 178);
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255); 
    width: 100%;
}

.header-image {
    width: 100%;
    max-height: 200px; 
    height: auto; 
    display: block;
    object-fit: cover; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(54, 162, 178); 
    width: 100%; 
}

    nav ul li {
        margin: 0 15px;
    }

        nav ul li a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 14px 20px;
            display: block;
        }

            nav ul li a:hover {
                background-color: rgb(255, 111, 97); 
            }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

section {
    width: 80%;
    max-width: 1200px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 204, 0, 0.5); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer {
    background-color: rgb(0, 191, 255); 
    color: rgb(255, 255, 255); 
    text-align: center;
    padding: 10px 0;
    width: 100%; 
    background-color: rgba(0, 191, 255, 0.8); 
}
/* Flexbox Layout */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center blocks horizontally */
}
